<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwY0bMjwzn-unHOtw5g0eHQN8S4XmWzak</string>
	<key>GCM_SENDER_ID</key>
	<string>752198096425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainx.quickblood</string>
	<key>PROJECT_ID</key>
	<string>quick-blood-16aca</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-blood-16aca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752198096425:ios:37e2ec6bea8e814bd66e38</string>
</dict>
</plist>